
:root {
    --pure-white: #FFFFFF;
    --gray: #8A8A8A;
    --black-bg: #17162E;
    --red: #BA0707;
    --yellow: #D7A82F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 100% auto;
    background-color: var(--black-bg);
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    max-width: 634px;
    width: 90%;
    margin: auto;
}

h1 {
    font-weight: 600;
}

main {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    color: var(--pure-white);
}